{% extends 'ordersys/base.html'%}

{% block content %}
    {% if not year and not day%}
        First Day:
    {% endif %}
    <h1>{% firstof day week month year.year %} </h1>
    <h2>Earned: ${{ sum_cost }}</h2>
    <ul>
        {% for transaction in object_list %}
            <li>ID: {{ transaction.id }}| Creator: {{transaction.creator.first_name}} {{transaction.creator.last_name}} | {{transaction.category}} | ${{transaction.income}} | Date: {{transaction.date}} </li>
        {% endfor %}
    </ul>
{% endblock %}