<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Ordering System</title>     
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <nav class="navbar navbar-expand fixed-top navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link bg-light border mr-2 border-dark rounded text-dark" href="{% url 'ordersys:index'%}">All orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bg-warning border mr-2 border-dark rounded text-dark" href="{% url 'ordersys:pending'%}">Pending orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bg-primary border mr-2 border-dark rounded text-light" href="{% url 'ordersys:prepare'%}">Orders being prepared</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bg-success border mr-2 border-dark rounded text-light" href="{% url 'ordersys:collect'%}">Orders to collect</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bg-secondary rounded mr-2 border border-dark text-light" href="{% url 'ordersys:done'%}">Done orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bg-danger rounded mr-2 border border-dark text-light" href="{% url 'ordersys:failed'%}">Failed/Cancelled orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bg-light rounded mr-2 border border-dark text-dark" href="{% url 'ordersys:manager_tab'%}">Manager Tab</a>
            </li>
        </div>
      </nav>
    <body class="bg-dark d-flex pt-5 mt-2 justify-content-center">
        <div class="wrapper w-100">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>