{% extends 'ordersys/base.html'%}

{% block content %}
    {% if orders_list %}
        {% for order in orders_list %}
            {% if order.status == "Pending" %}
                <p type="button" class="btn btn-warning d-flex justify-content-center">{{order}}: {{order.ordered_items_products_amounts}}</p>
            {% elif order.status == "Prepare" %}
                <p type="button" class="btn btn-primary d-flex justify-content-center text-light">{{order}}: {{order.ordered_items_products_amounts}}</p>
            {% elif order.status == "Collect" %}
                <p type="button" class="btn btn-success d-flex justify-content-center text-light">{{order}}: {{order.ordered_items_products_amounts}}</p>
            {% elif order.status == "Done" %}
                <p type="button" class="btn btn-dark d-flex justify-content-center text-light">{{order}}: {{order.ordered_items_products_amounts}}</p>
            {% else %}
                <p type="button" class="btn btn-danger d-flex justify-content-center text-light">{{order}}: {{order.ordered_items_products_amounts}}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}